<!--<app-leaf-side-nav></app-leaf-side-nav>-->
<!--<footer>-->
  <!--test-->
<!--</footer>-->

<div>
  <mat-toolbar color="primary" class="mat-elevation-z19">
    <span > Leaf </span>
    <img src="../assets/leaf_16.png">
    <a routerLink="/home" routerLinkActive="active" [class.active-link]="title==='Home'" (click)="updateTitle('Home')" mat-button>Home</a>
    <a routerLink="/aboutus" routerLinkActive="active" [class.active-link]="title==='About Us'" (click)="updateTitle('About Us')" mat-button>About Us</a>
    <a routerLink="/contactus" routerLinkActive="active" [class.active-link]="title==='Contact Us'" (click)="updateTitle('Contact Us')" mat-button>Contact Us</a>
    <a routerLink="/getinvolved" routerLinkActive="active" [class.active-link]="title==='Get Involved'"  (click)="updateTitle('Get Involved')" mat-button>Get Involved</a>
  </mat-toolbar>
  <mat-card class="greenCard mat-elevation-z8">
    <mat-card-title class="myclass"> {{title}} </mat-card-title>

  </mat-card>
  <main>
    <router-outlet></router-outlet>

  </main>







  <!--<app-leaf-dashboard> </app-leaf-dashboard>-->


  <div class="footer mat-elevation-z21" >
    <mat-card class="greenCard">
      By Ajenni
    </mat-card>

  </div>



</div>
