<!--<app-leaf-side-nav></app-leaf-side-nav>-->
<!--<footer>-->
  <!--test-->
<!--</footer>-->

<div>
  <mat-toolbar color="primary" class="mat-elevation-z19">
    <span > Leaf </span>
    <img src="../assets/leaf_16.png">
    <a routerLink="/home" routerLinkActive="active-link" mat-button>Home</a>
    <a routerLink="/aboutus" routerLinkActive="active-link" mat-button>About Us</a>
    <a routerLink="/contactus" routerLinkActive="active-link" mat-button>Contact Us</a>
    <a routerLink="/getinvolved"  routerLinkActive="active-link" mat-button>Get Involved</a>
  </mat-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>







  <!--<app-leaf-dashboard> </app-leaf-dashboard>-->


  <div class="footer mat-elevation-z21" >
    <mat-card class="greenCard">
      By Ajenni
    </mat-card>

  </div>



</div>
